<section class="border container mx-auto">
  <div class="w-full h-72 bg-sky-300 my-10">
    <img  [src]="currentImage" alt="" class="transition-opacity duration-1000 ease-in-out opacity-100"
    [class.opacity-0]="!isImageVisible" >
  </div>

  <article class="flex my-10">
    <aside class="w-1/4 rounded-xl shadow-2xl border-2 border-gray-400">
      <h1 class="text-center text-4xl font-bold pt-5">FILTROS</h1>
      <h2 class="ml-4 uppercase font-semibold mt-5">PRECIO</h2>
      <div class="flex justify-around gap-2 my-6 mx-3">
        <input
          type="text"
          class="w-40 h-14 border-2 border-gray-400 rounded-lg shadow-lg"
          placeholder="S/. Desde"
        />
        <input
          type="text"
          class="w-2/4 h-14 border-2 border-gray-400 rounded-lg shadow-lg"
          placeholder="S/. Hasta"
        />
      </div>

      <h2 class="ml-4 my-5 uppercase font-semibold mt-5">Marcas</h2>

      <div class="mx-4 flex flex-wrap gap-3">
        @for (item of marcas; track $index) {
        <button
          type="button"
          class="w-40 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-400 hover:bg-gray-100 hover:text-blue-700 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          {{ item }}
        </button>
        }
      </div>
      <h2 class="ml-4 uppercase font-semibold my-5">categoria</h2>

      <div class="mx-4 flex flex-wrap gap-3 mb-10">
        @for (item of categorias; track $index) {
        <button
          type="button"
          class="w-40 py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-400 hover:bg-gray-100 hover:text-blue-700 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
        >
          {{ item }}
        </button>
        }
      </div>
    </aside>
    <div>
      <div class="flex flex-wrap gap-5 m-8">
        @for (item of motos ; track $index) {

          <div
          class="w-[300px] flex flex-col justify-between  bg-white rounded-2xl shadow-md border border-gray-200 p-4 transition-transform duration-300 hover:shadow-xl hover:-translate-y-1 hover:border-sky-400 cursor-pointer snap-start group"
          (click)="goToDetail()"
        >
          <!-- Imagen -->
          <div class="overflow-hidden  h-full shadow-sm items-center justify-center flex rounded-xl">
            <img
              [src]="item.imagen_principal"
              alt="Moto"
              class="w-full  rounded-xl transition-transform duration-500 group-hover:scale-105"
            />
          </div>
        
          <!-- Información -->
          <div class="mt-4 text-left space-y-2">
            <h3 class="font-semibold text-lg text-gray-800 group-hover:text-sky-600 transition-colors duration-300">
              {{ item.marca }} {{ item.modelo }}
            </h3>
            <p class="text-gray-700 text-sm">
              Precio inicial: <strong class="text-green-600">S/ {{ item.precioWeb }}</strong>
            </p>
            <ul class="text-gray-600 text-sm list-disc list-inside space-y-1">
              <li>SOAT 1 año gratis</li>
              <li>Transferencia notarial GRATIS</li>
            </ul>
          <!-- Sello atractivo -->
            <div
            class="mt-3 inline-block bg-sky-100 text-sky-700 text-xs font-medium px-3 py-1 rounded-full group-hover:bg-sky-200 transition-colors duration-300"
          >
            ¡Oportunidad!
          </div>
          </div>
        
          
          
        </div>
        

        }
      </div>
    </div>
  </article>
</section>
