<section class="py-4">
  <!-- moto-carousel.component.html -->
  <div class="p-6  text-center">
    <h2 class="text-6xl uppercase font-bold text-gray-900">
      Encuentra tu moto deseada
    </h2>
    <p class="text-4xl my-4 text-gray-700 uppercase">
      ¡Tarjeta, placa, SOAT <span class="text-orange-500 font-bold">1 año </span> y transferencia notarial <span class="text-orange-500 font-bold">GRATIS</span> !
    </p>

    

    
  </div>
</section>

<!-- opcion mAS CHEVERE  -->

<section >
<div class="relative w-full max-w-7xl mx-auto h-[400px]">
  <!-- Botón Izquierda -->
  <button
    (click)="scroll('left')"
    class="rotate-180 absolute left-4 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300 z-10"
  >
    ➜
  </button>

  <!-- Contenedor del Carrusel -->
  <div class="max-w-4xl mx-auto h-full">
    <div
      #carousel
      class="flex overflow-x-auto scrollbar-hide snap-x snap-mandatory space-x-4 p-4 h-full"
      (touchstart)="handleTouchStart($event)"
      (touchend)="handleTouchEnd($event)"
    >
      @for (item of motos; track $index) {
        <div
        (click)="goToCatalogo()"
          class="min-w-[250px]  bg-white rounded-2xl  border-black border-2  text-center flex flex-col items-center justify-between  h-full shadow-md  p-4 transition-transform duration-300 hover:shadow-xl hover:-translate-y-1 hover:border-sky-400 cursor-pointer snap-start group"
        >
          <!-- Imagen (90% del alto del contenedor) -->
          <div class="flex items-center justify-center h-[90%]">
            <img
              [src]="item.imagen_principal"
              alt="Moto"
              class="h-full w-auto object-contain rounded-md"
            />
          </div>

          <!-- Info -->
          <div class="mt-2  text-center ">
            <h3 class="font-semibold text-center text-lg text-gray-800 group-hover:text-sky-600 transition-colors duration-300">
              {{ item.marca }} 
            </h3>
            <h4 class="text-center text-gray-800 font-bold text-xl group-hover:text-sky-600 transition-colors duration-300">
              {{ item.modelo }}
            </h4>
            <p class="text-gray-700 text-sm font-semibold">
              PRECIO CONTADO: <strong class="text-green-600">S/ {{ item.precioWeb }}</strong>
            </p>
            <p class="text-gray-700 text-sm font-semibold">
              INICIAL DESDE: <strong class="text-green-600">S/ {{ item.precioInicial }}</strong>
            </p>
            <ul class="text-gray-600 text-sm  list-inside font-semibold uppercase">
              <li>SOAT 1 año <span class="text-orange-400">GRATIS</span></li>
              <li>Transferencia notarial <span class="text-orange-400">GRATIS</span></li>
            </ul>
          <!-- Sello atractivo -
            <div--
            class="mt-3 inline-block bg-sky-100 text-sky-700 text-xs font-medium px-3 py-1 rounded-full group-hover:bg-sky-200 transition-colors duration-300"
          >
            ¡Oportunidad!
          </div-->
          </div>
        </div>
      }
    </div>
  </div>

  <!-- Botón Derecha -->
  <button
    (click)="scroll('right')"
    class="absolute right-4 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300 z-10"
  >
    ➜
  </button>
</div>


  <div class="flex justify-center mt-8">
     <button (click)="goToCatalogo()"
      class="bg-sky-500 hover:bg-sky-700 py-5 px-20 text-white font-semibold uppercase text-4xl rounded-2xl  "
    >
      Ver catálogo
  </button>
  </div>

 


</section>
