<section class="py-4">
  <!-- moto-carousel.component.html -->
  <div class="p-6  text-center">
    <h2 class="text-6xl uppercase font-bold text-gray-900">
      Encuentra tu moto deseada
    </h2>
    <p class="text-4xl my-4 text-gray-700 uppercase">
      ¡Tarjeta, placa, SOAT <span class="text-orange-500 font-bold">1 año </span> y transferencia notarial <span class="text-orange-500 font-bold">GRATIS</span> !
    </p>

    

    
  </div>
</section>

<!-- opcion mAS CHEVERE  -->

<section >
  <div class="relative w-full max-w-7xl mx-auto ">
    <!-- Botón Izquierda -->
    <button
      (click)="scroll('left')"
      class=" rotate-180 absolute left-4 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300"
    >
      ➜
    </button>

    <div class=" max-w-4xl mx-auto">
      <div
        #carousel
        class="flex overflow-x-auto scrollbar-hide snap-x snap-mandatory space-x-4 p-4"
        (touchstart)="handleTouchStart($event)"
        (touchend)="handleTouchEnd($event)"
      >
        @for (item of motos ; track $index) {

        <div
          class="w-[450px]  bg-white rounded-2xl shadow-xl border-black border-2 p-4 text-center transition-transform duration-500 flex flex-col items-center justify-between snap-start "
        >
          <div class="flex flex-col  h-full justify-center items-center">
            <img
            [src]="item.imagen"
            class="w-full  aspect-auto rounded-md"
            alt="Moto"
          />
          </div>
          

          <div>
            <h3 class="font-semibold text-lg mt-3 text-gray-900">
            {{ item.nombre}}
          </h3>
          <p class="text-gray-700 text-sm">
            Precio inicial: <strong>S/ {{item.precio }}</strong>
          </p>
          <ul class="text-gray-600 text-sm mt-2">
            <li>SOAT 1 año gratis</li>
            <li>Transferencia notarial GRATIS</li>
          </ul>
          </div>
          
        </div>

        }
      </div>
    </div>
    <!-- Carrusel -->

    <!-- Botón Derecha -->
    <button
      (click)="scroll('right')"
      class="absolute right-4 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300"
    >
      ➜
    </button>


  </div>

  <div class="flex justify-center mt-8">
     <button (click)="goToCatalogo()"
      class="bg-sky-500 hover:bg-sky-700 py-5 px-20 text-white font-semibold uppercase text-4xl rounded-2xl  "
    >
      Ver catálogo
  </button>
  </div>

 


</section>
