.fondo{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/imgweb%2Fbgimagen.jpg?alt=media&token=1600fac2-5a71-4fcb-ad60-93dc86118c2f");
    background-repeat: no-repeat;
    background-size: cover;
}