<!-- component -->
<div class="bg-sky-100 flex justify-center items-center h-screen">
    <!-- Left: Image -->
<div class="w-1/2 h-screen hidden lg:block">
  <img src="https://i.pinimg.com/564x/86/5b/84/865b84a89b0d0ee45ea8775dc56e9ff5.jpg" alt="Placeholder Image" class="object-cover w-full h-full">
</div>
<!-- Right: Login Form -->
<div class= "lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
  <h1 class="text-2xl font-semibold mb-4">Login</h1>
  <form (ngSubmit)="loguearse()" method="POST" [formGroup]="loginForm">

    <!-- Username Input -->
    <div class="mb-4 bg-sky-100">
      <label for="username" class="block text-gray-600">Correo Electronico</label>
      <input type="text"   name="username" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off" formControlName="email">
    </div>

    <div class=" border  text-center py-2 lg:px-4 " [hidden]="loginForm.controls['email'].valid">
      <div class="p-2  text-red-500 items-center  leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <span class="font-semibold mr-2 text-left flex-auto">Ingrese un correo electronico valido</span>
      </div>
    </div>

    <!-- Password Input -->
    <div class="mb-4">
      <label for="password" class="block text-gray-800">Contraseña</label>
      <input type="password" id="password" name="password" class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500" autocomplete="off" formControlName="password">
    </div>

    <div class=" border  text-center py-2 lg:px-4 " [hidden]="loginForm.controls['password'].valid">
      <div class="p-2  text-red-500 items-center  leading-none lg:rounded-full flex lg:inline-flex" role="alert">
        <span class="font-semibold mr-2 text-left flex-auto">Contraseña requerida</span>
      </div>
    </div>

    <!-- Remember Me Checkbox -->
    <div class="mb-4 flex items-center">
      <input type="checkbox" id="remember" name="remember" class="text-red-500">
      <label for="remember" class="text-green-900 ml-2">Remember Me</label>
    </div>
    <!-- Forgot Password Link -->
    <div class="mb-6 text-blue-500">
      <a href="#" class="hover:underline">Olvido su contraseña??</a>
    </div>
    <!-- Login Button -->
    <button type="submit" class="bg-red-500 hover:bg-blue-600 text-white font-semibold rounded-md py-2 px-4 w-full" [disabled]="!loginForm.valid" >Login</button>
  </form>
  <!-- Sign up  Link -->
  
</div>
</div>
