<section class="w-full h-screen bg-gray-200 flex flex-col ">

  <div class="  p-6 shadow-xl md:m-auto  bg-gradient-to-bl from-teal-400 to-blue-500 mt-10 rounded-md  ">

      <form class="" >

          <!-- Sección 1: Datos del Usuario -->
       
          <div *ngIf="currentSection === 1">

            <app-form-titular></app-form-titular>

              
              <button type="button" 
                (click)="nextSection()"  
                class="uppercase font-semibold text-black hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300  rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800"  
                > continue a la seccion, datos del Fiador </button>


          </div>



          <!-- Sección 2: Datos del Fiador -->
          <div *ngIf="currentSection === 2">


            <h2 class="mb-12 fon"> Dtos Personales del Fiador </h2>

              
              <app-form-fiador></app-form-fiador>

              <!-- Campos para datos del fiador -->
              
              <button type="button" (click)="prevSection()" class="btn btn-secondary m-5">Previous</button>
              <button type="button" (click)="nextSection()" class="btn btn-primary">Next</button>
          </div>





          <!-- Sección 3: Datos del Producto -->
          <div *ngIf="currentSection === 3">

            <h2 class="mb-12 fon"> Referencias del titular </h2>
              <!-- Campos para datos del producto -->
              <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                  
                <div class="inline-block relative w-full">
                  <label for="">Nombre Y Apellido</label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                <div class="inline-block relative w-full">
                  <label for="">Telefono 1 </label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                <div class="inline-block relative w-full">
                  <label for=""> Afinidad  </label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div> 
               
                  <!-- Otros campos del fiador -->
              </div>


              <h2 class="mb-12 fon"> La Moto que quiero ya  </h2>

              <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                  
                <div class="inline-block relative w-full">
                  <label for="">Marca</label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                <div class="inline-block relative w-full">
                  <label for="">Modelo </label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                <div class="inline-block relative w-full">
                  <label for="">Color </label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div> 
               
                
                  <!-- Otros campos del fiador -->
              </div>


              <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                  
                <div class="inline-block relative w-full">
                  <label for="">Codigo Promocional</label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                <div class="inline-block relative w-full">
                  <label for=""> Mensaje </label>
                  <input type="text " class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">

                </div>

                
               
                
                  <!-- Otros campos del fiador -->
              </div>

              

              <button type="button" (click)="prevSection()" class="btn btn-secondary m-5">Previous</button>
              <button type="submit" class="btn btn-success" >Submit</button>
          </div>

      </form>
  </div>
</section>