<div>
  <div>
    <div class="font-[sans-serif]">
      <div class="bg-gradient-to-r from-blue-700 to-blue-300 w-full h-60">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/imgweb%2Fpngtree.jpg?alt=media&token=df76a870-0338-46b1-b32a-442429fa7780"
          alt="Banner Image"
          class="w-full h-full object-cover"
        />
      </div>

      <div class="-mt-28 mb-6 px-4">
        <div
          class="mx-auto max-w-6xl shadow-lg p-8 relative bg-white rounded-md"
        >
          <h2 class="text-xl text-gray-800 font-bold">Contacte con nosotros</h2>

          <form class="mt-8 grid sm:grid-cols-2 gap-6">
            <div>
              <label class="text-gray-800 text-sm block mb-2">Nombre</label>
              <input
                type="text"
                placeholder="Escriba su nombre"
                class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]"
              />
            </div>
            <div>
              <label class="text-gray-800 text-sm block mb-2"
                >Tu Correo Electronico</label
              >
              <input
                type="email"
                placeholder="Correo"
                class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]"
              />
            </div>
            <div>
              <label class="text-gray-800 text-sm block mb-2">Tu Numero </label>
              <input
                type="phone"
                placeholder="Telefono  No."
                class="w-full rounded-md py-2.5 px-4 border border-gray-300 text-sm outline-[#007bff]"
              />
            </div>

            <div class="col-span-full">
              <label class="text-gray-800 text-sm block mb-2">Mensaje</label>
              <textarea
                placeholder="Mensaje"
                rows="6"
                class="w-full rounded-md px-4 border border-gray-300 text-sm pt-3 outline-[#007bff]"
              ></textarea>
            </div>
            <div class="flex items-center col-span-full">
              <input
                id="checkbox1"
                type="checkbox"
                class="w-4 h-4 mr-3 shrink-0"
              />
              <label for="checkbox1" class="text-sm text-gray-500"
                >estoy de acuerdo
                <a class="underline">terminos y condicioness</a> and
                <a class="underline">Politicas de privacidad</a></label
              >
            </div>

            <button
              type="button"
              class="text-white w-max bg-[#007bff] hover:bg-blue-600 tracking-wide rounded-md text-sm px-6 py-3 mt-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16px"
                height="16px"
                fill="#fff"
                class="mr-2 inline"
                viewBox="0 0 548.244 548.244"
              >
                <path
                  fill-rule="evenodd"
                  d="M392.19 156.054 211.268 281.667 22.032 218.58C8.823 214.168-.076 201.775 0 187.852c.077-13.923 9.078-26.24 22.338-30.498L506.15 1.549c11.5-3.697 24.123-.663 32.666 7.88 8.542 8.543 11.577 21.165 7.879 32.666L390.89 525.906c-4.258 13.26-16.575 22.261-30.498 22.338-13.923.076-26.316-8.823-30.728-22.032l-63.393-190.153z"
                  clip-rule="evenodd"
                  data-original="#000000"
                />
              </svg>
              Enviar Mensaje
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container m-auto w-full h-full">
    <div class="border">
      <div
        class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-35f4492"
        data-id="35f4492"
        data-element_type="column"
      >
        <div class="elementor-widget-wrap elementor-element-populated">
          <div
            class="elementor-element elementor-element-5b4902b elementor-widget elementor-widget-google_maps"
            data-id="5b4902b"
            data-element_type="widget"
            data-widget_type="google_maps.default"
          >
            <div class="elementor-widget-container">
              <div class="elementor-custom-embed">
              <iframe
                width="100%"
                height="450"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                title="Av. Tomas Guzmán 977 san juan de miraflores"
              loading="lazy" data-src="https://maps.google.com/maps?q=Av.%20Tomas%20Guzm%C3%A1n%20977%20san%20juan%20de%20miraflores&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" title="Av. Tomas Guzmán 977 san juan de miraflores" aria-label="Av. Tomas Guzmán 977 san juan de miraflores" src="https://maps.google.com/maps?q=Av.%20Tomas%20Guzm%C3%A1n%20977%20san%20juan%20de%20miraflores&amp;t=m&amp;z=15&amp;output=embed&amp;iwloc=near" class=" lazyloaded" data-load-mode="1"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
