<section class="section-premios">
  <div class="marca-agua"></div>
  <div class="contenido">
    <div class="columna-izquierda">
      <div class="logo-wrapper">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FRecurso%201.png?alt=media&token=0b8befee-d4fc-42f2-9af3-26a2631ff961"
          alt=""
          class="logo-principal">
      </div>
      <div class="imagen-secundaria-container">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FREGALO.png?alt=media&token=b76e3cc0-ae70-4fa6-9e02-9b8fb8401c0f"
          alt=""
          class="imagen-secundaria">
      </div>
    </div>

    <div class="columna-derecha">
      <p class="titulo">premios para nuestros clientes y seguidores 🎉</p>
      <div class="video-wrapper">
        <iframe
          src="https://www.youtube.com/embed/NlQAH9FBvVI?si=OVbtkR5lqqMosXPP"
          allowfullscreen>
        </iframe>
      </div>
      <button class="btn-sorteo" aria-label="Ver sorteo">
        🔥 VER SORTEO
      </button>
    </div>
  </div>
</section>

