

<div  class="w-full overflow-hidden">
       
    
  <div class=" flex m-auto items-center animate-scroll w-full   ">
    

    <img class="mx-10 md:mx-32 h-6 md:h-14" src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FHero-1.png?alt=media&token=beb091cf-71e3-43ca-bb5e-fbb01a6164be" alt="">
    <img class="mx-10 md:mx-32 h-4 md:h-10" src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FJCH-1.webp?alt=media&token=18e70411-2fee-43cb-9506-164bbfe12773" alt="">
    <img class="mx-10 md:mx-32 h-6 md:h-14" src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FKTM-1.png?alt=media&token=fdb49572-4c5a-41ce-94c4-42552eb040cd" alt="">
    <img class="mx-10 md:mx-32 h-6 md:h-14" src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FLIFAN-1.png?alt=media&token=3d80fa48-422b-495b-a7b1-a9508369bedc" alt="">
    <img class="mc-10 md:mx-32 h-6 md:h-14" src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FSSENDA-1.png?alt=media&token=2f1accd0-acbb-4f04-b6ca-691ed81871af" alt="">
    
  </div>

  

        
</div>
