<section class="body-tablaclientes">
  <div class="relative w-full overflow-hidden">
    <div
      class="absolute left-0 top-0 w-20 h-full bg-gradient-to-r from-slate-900 to-transparent z-10 pointer-events-none"></div>
    <div
      class="absolute right-0 top-0 w-20 h-full bg-gradient-to-l from-slate-900 to-transparent z-10 pointer-events-none"></div>
    <!-- Banda de logos con scroll infinito verdadero -->

    <!-- Primera secuencia de logos -->
    <div class="logo-sequence">
      <div class="contenedor">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FHero-1.png?alt=media&token=beb091cf-71e3-43ca-bb5e-fbb01a6164be"
        />
      </div>

      <div class="contenedor">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FJCH-1.webp?alt=media&token=18e70411-2fee-43cb-9506-164bbfe12773"


        />
      </div>

      <div class="contenedor">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FKTM-1.png?alt=media&token=fdb49572-4c5a-41ce-94c4-42552eb040cd"


        />
      </div>

      <div class="contenedor">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FLIFAN-1.png?alt=media&token=3d80fa48-422b-495b-a7b1-a9508369bedc"


        />
      </div>

      <div class="contenedor">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/motoya-form.appspot.com/o/logos%2FSSENDA-1.png?alt=media&token=2f1accd0-acbb-4f04-b6ca-691ed81871af"


        />
      </div>


    </div>
  </div>


</section>
