<section class="container m-auto">
  <div class="flex">
    <div class="w-1/2 flex justify-center items-center">
      <img
        [src]="productoMotocicleta?.imagen_principal"
        alt=""
        class="transform opacity-0 -translate-x-full transition-all duration-1000 ease-in-out"
        [ngClass]="{ 'opacity-100 translate-x-0': isImageVisible }"
      />
    </div>

    <div
      class="w-1/2 transform opacity-0 transition-all duration-1000 ease-in-out"
      [ngClass]="{ 'opacity-100 translate-x-0': isImageVisible }"
    >
      <div
        class="border border-gray-300 p-6 shadow-xl bg-white rounded-2xl m-5 transition-transform duration-300 hover:scale-[1.02] hover:shadow-2xl"
      >
        <!-- Marca y modelo -->
        <div class="text-center mb-6">
          <h2 class="text-gray-800 uppercase text-2xl tracking-widest ">{{productoMotocicleta?.marca}}</h2>
          <h2 class="text-4xl font-bold text-gray-800 uppercase">{{productoMotocicleta?.modelo}}</h2>
        </div>

        <!-- Precios -->
        <div class="text-sky-600 text-xl font-medium space-y-3 mb-6">
          <div class="flex justify-between px-8">
            <span>Inicial 1:</span>
            <span>S/. 1,300.00</span>
          </div>
          <div class="flex justify-between px-8">
            <span>Inicial 2:</span>
            <span>S/. 1,500.00</span>
          </div>
          <div class="flex justify-between px-8">
            <span>Inicial 3:</span>
            <span>S/. 1,700.00</span>
          </div>
        </div>

        <!-- Mensaje clave -->
        <p class="text-orange-500 text-center text-xl font-semibold mb-4">
          Más inicial = cuotas más bajas
        </p>

        <!-- Beneficios -->
        <ul class="text-gray-800 text-lg font-medium space-y-2 mb-8">
          <li class="ml-10">
            ✅ SOAT 1 año <span class="text-orange-500 font-bold">GRATIS</span>
          </li>
          <li class="ml-10">
            ✅ Transferencia notarial
            <span class="text-orange-500 font-bold">GRATIS</span>
          </li>
        </ul>

        <!-- Botón Comprar -->
        <div class="flex justify-center">
          <a
            href=""
            class="text-white bg-sky-500 hover:bg-sky-600 transition-colors duration-300 focus:ring-4 focus:outline-none focus:ring-sky-300 font-semibold rounded-full text-xl uppercase px-6 py-3 shadow-md"
          >
            Comprar
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex justify-between w-full h-60 bg-stone-600">
    <div class="w-1/6 flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="block w-8 font-bold h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5"
        />
      </svg>
    </div>
    <div class="w-4/6 flex justify-center p-3 items-center">
      <div class="h-full bg-gray-300 rounded-xl m-3 shadow-lg">
        <img [src]="moto1" alt="" class="h-full" />
      </div>
      <div class="h-full bg-gray-300 rounded-xl shadow-lg mx-3">
        <img [src]="moto1" alt="" class="h-full" />
      </div>
      <div class="h-full bg-gray-300 rounded-xl shadow-lg mx-3">
        <img [src]="moto1" alt="" class="h-full" />
      </div>
    </div>
    <div class="w-1/6 flex justify-center items-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="block w-8 h-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5"
        />
      </svg>
    </div>
  </div>
  <div class="w-full flex justify-between items-center">
    @for (item of submenu; track $index ) {
    <div
      [ngClass]="{
        'bg-stone-600 text-white': activeIndex === $index,
        'bg-gray-100 text-gray-800': activeIndex !== $index
      }"
      (click)="setActive($index)"
      class="w-1/6 h-20 border border-gray-400 flex items-center justify-center gap-2 rounded-md transition-all duration-300 ease-in-out cursor-pointer hover:shadow-xl hover:scale-105 hover:border-stone-600 active:scale-95"
    >
      <img
        [src]="item.icono"
        alt=""
        class="w-10 transition-transform duration-300 group-hover:scale-110"
      />
      <span class="uppercase font-semibold tracking-wide text-sm">
        {{ item.nombre }}
      </span>
    </div>

    }
  </div>

  <!--  contenidos de la seccion -->

  <div class="relative overflow-hidden h-60">
    <div
      class="flex transition-transform duration-500 ease-in-out"
      [style.transform]="'translateX(-' + activeIndex * 100 + '%)'"
    >
      <div
        *ngFor="let content of secciones"
        class="min-w-full p-6 bg-white shadow-md"
      >
        <h2 class="text-xl font-bold mb-2">Contenido</h2>
        <p>{{ content }}</p>
      </div>
    </div>
  </div>
</section>
