<section class="container m-auto">
  <div class="flex">
    <div class="w-1/2 flex justify-center items-center">
      <img
        [src]="productoMotocicleta?.imagen_principal"
        alt="imagen_principal"
        class="transform opacity-0 -translate-x-full transition-all duration-1000 ease-in-out"
        [ngClass]="{ 'opacity-100 translate-x-0': isImageVisible }"
      />
    </div>

    <div
      class="w-1/2 transform opacity-0 transition-all duration-1000 ease-in-out"
      [ngClass]="{ 'opacity-100 translate-x-0': isImageVisible }"
    >
      <div
        class="border border-gray-300 p-6 shadow-xl bg-white rounded-2xl m-5 transition-transform duration-300 hover:scale-[1.02] hover:shadow-2xl hover:border-sky-500 h-[550px] flex flex-col justify-between"
      >
        <!-- Marca y modelo -->
        <div class="text-center mb-6  font-bold">
          <h2 class="text-gray-500  uppercase text-7xl font-bold text-center tracking-widest">
            {{ productoMotocicleta?.marca }}
          </h2>
          <h2 class="text-6xl font-bold text-gray-600 uppercase">
            {{ productoMotocicleta?.modelo }}
          </h2>
        </div>

        <!-- Precios -->
      

        <!-- Mensaje clave -->
         <p class="text-gray-800 text-center text-4xl font-semibold mb-4 uppercase">
          PRECIO CONTADO : {{productoMotocicleta?.precioWeb}} S/.
        </p>
        <p class="text-sky-500 text-center text-4xl font-semibold mb-4 uppercase">
          inicial desde : {{productoMotocicleta?.precioInicial}} S/.
        </p>

        <!-- Beneficios -->
        <ul class="text-gray-800 text-lg font-medium space-y-2 mb-8">
          <li class="ml-10 uppercase text-2xl">
             SOAT 1 año <span class="text-orange-500 font-bold">GRATIS</span>
          </li>
          <li class="ml-10 uppercase text-2xl">
             Transferencia notarial
            <span class="text-orange-500 font-bold">GRATIS</span>
          </li>
        </ul>

        <span class=" mb-4"> Colores disponibles : @for (item of colores; track $index) {
          <div class="  inline-block w-6 h-6 mx-3 rounded-full" [ngStyle]="{ 'background-color': item }"></div>
        }</span>

        <!-- Botón Comprar -->
        <div class="flex justify-center">
          <a
            [routerLink]="['/contactenos']"
            class="text-white bg-sky-500  hover:bg-sky-600 transition-colors duration-300 focus:ring-4 focus:outline-none focus:ring-sky-300 font-semibold rounded-md text-xl uppercase px-6 py-3 shadow-md"
          >
            LO QUIERO
          </a>
        </div>
      </div>
    </div>
  </div>


  <!--  carrucel central   -->

<section class="h-[300px] border bg-stone-600">
  <div class="relative w-full max-w-7xl mx-auto h-full">

    <!-- Botón Izquierda -->
    <button
      (click)="scroll('left')"
      class="rotate-180 absolute left-2 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300 z-10"
    >
      ➜
    </button>

    <!-- Carrusel -->
    <div class="max-w-6xl  mx-auto h-full">
      <div
        #carousel
        class="flex overflow-x-auto scrollbar-hide snap-x snap-mandatory space-x-4 p-4 h-full"
        (touchstart)="handleTouchStart($event)"
        (touchend)="handleTouchEnd($event)"
      >
        @for (item of productoMotocicleta?.imagenes; track $index) {
          <div
            class="min-w-[300px] max-w-[400px] h-full bg-stone-600 rounded-2xl shadow-xl  flex items-center justify-center snap-start transition-transform duration-500"
          >
            <img
              [src]="item"
              alt="Moto"
              class="h-[90%] w-auto object-contain rounded-md"
            />
          </div>
        }
      </div>
    </div>

    <!-- Botón Derecha -->
    <button
      (click)="scroll('right')"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 rounded-full bg-cyan-500 hover:bg-cyan-600 flex items-center justify-center p-3 text-3xl text-white shadow-lg transition duration-300 z-10"
    >
      ➜
    </button>

  </div>
</section>


<!--      carrucel central                    -->


  <div class="w-full flex justify-between items-center">
    @for (item of submenu; track $index ) {
    <div
      [ngClass]="{
        'bg-stone-600 text-white': activeIndex === $index,
        'bg-gray-100 text-gray-800': activeIndex !== $index
      }"
      (click)="setActive($index)"
      class="  w-1/6 h-20 border border-gray-400 flex items-center justify-center gap-2 rounded-md transition-all duration-300 ease-in-out cursor-pointer hover:shadow-xl hover:scale-105 hover:border-stone-600 active:scale-95"
    >
      <img
        [src]="item.icono"
        alt=""
        class="w-10 transition-transform duration-300 group-hover:scale-110"
      />
      <span class="uppercase font-semibold tracking-wide text-sm  hidden md:block sm:hidden">
        {{ item.nombre }}
      </span>
    </div>

    }
  </div>

  <!--  contenidos de la seccion -->

  <div class="relative overflow-hidden h-60">
    <div
      class="flex transition-transform duration-500 ease-in-out"
      [style.transform]="'translateX(-' + activeIndex * 100 + '%)'"
    >
      @for(sudSecciones of secciones ; track $index ) {

      <div class="min-w-full p-6 bg-white shadow-md">
        <div class="flex flex-wrap justify-around">
          @for (carcteristicas of sudSecciones; track $index) {

          <div
            class="flex items-center bg-white border rounded-sm overflow-hidden shadow-xl"
          >
            <div class="p-4 ">
              <img
                [src]="carcteristicas.icono"
                alt=""
                class="w-full h-ful object-cover"
              />
            </div>
            <div class="px-4 text-gray-700">
              <h3 class="text-sm tracking-wider">
                {{ carcteristicas.nombre }}
              </h3>
              <p class="text-3xl">{{ carcteristicas.contenido }}</p>
            </div>
          </div>

          }
        </div>
      </div>

      }
    </div>
  </div>
</section>
